html{
    background-color: darkcyan;
    color:white;
    font-family: 'Noto Serif KR','맑은 고딕',Arial, Helvetica, sans-serif;
}
.name{
    font-size: 30px;
    font-weight: 700;
    background-color: powderblue;
    color: black;
    width: 100vw;
    text-align: center;
    margin-left: 25vw;
    margin-top: 20vh;
    margin: auto;
}
.track, .content, .age, .main, .set{
    font-size: 20px;
    font-weight: 700;
    text-indent: 15px;
}
.track{background-color: pink; width:9em; color:black;}
.content{background-color: aliceblue; width:7em; color:black;}
.age{background-color: yellow; width:5em;color:black;} 
.main{
    line-height: .5;
}
img{
    width:70%;
    height:auto;
}
#container{
    text-indent:15px;
    font-weight:700;
    justify-content: space-around;
    width: 100vw;

}
